body {
  background-color: #ecf0f1;
  color: white;
}
h1 {
  color: white;
  transition: color 0.5s ease-in-out;
  font-size: 64px;
}

.clicked {
  color: #7f8c8d;
}

/* 처음에는 아무것도 보여주지 않는다. */
.grettings,
.form {
  display: none;
}

/* showing 클래스를 추가함으로써 화면에 보여진다. */
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s ease-in-out forwards;
}
